/*************************************************
    GENERAL RULES CSS
 *************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
  /* font-family: ;*/
  font-size: 14px;
}

html {
  scroll-behavior: smooth;
}


/* FONT */
h1 {
  font-size: 58px;
  color: rgb(184, 151, 48);
  font-family: "Ovo", serif;
  letter-spacing: 0.5px;
}

.white-txt {
color: white;
letter-spacing: 0.5px;
}

.gold-txt {
    /* thank you for choosing us */
   color: rgb(184, 151, 48);
   text-align: center;
   margin-top: 18px;
  letter-spacing: 1px;
  font-family: "Corinthia", cursive;
  font-size: 20px;
}

/*************************************************
    BODY (background img)
 *************************************************/
 body {
    background-color:  #040202;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  background-image: linear-gradient(
      rgba(0,0,0,0.4), 
      rgba(0,0,0,0.4)),
     linear-gradient(
      to top, 
      rgba(0,0,0,0) 60%, 
      rgba(0,0,0) 100%),
    linear-gradient(
      to bottom, 
      rgba(0,0,0,0) 60%, 
      rgba(0,0,0) 100%),
    url(../img/darko-pribeg-vHHWs06SiPk-unsplash.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Montserrat", sans-serif;
 }

/****************************
    MAIN
 ****************************/
/* go back btn */
 .go-back {
    padding: 20px;
 }


 .go-back a {
    color:rgb(184, 151, 48);
    text-decoration: none;
    font-size: 16px;
    font-family: "Ovo", serif;
 }

  .go-back a:hover {
    color:white;
    text-decoration: none;
 }

/* background img */
.txt-container {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* form container */
 .container {
    color: rgb(184, 151, 48);
    background-color: rgba(0, 0, 0, 0.7);
    width: 50%;
    padding: 40px;
}

 /* font for input box */
 .form-label {
 font-size: 12px;
 letter-spacing: 0.5px;
 }

 /* background color input box */
 .form-control {
  border-radius: 1px;
 }

 /* font color for placeholder */
input {
    color: rgb(184, 151, 48);
}

/* BUTTON */
.my-btn-cont {
 text-align: center;
}

.my-btn {
  background-color: rgb(184, 151, 48);
  padding: 6px 14px;
  border-radius: 1px;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  font-size: 12px;
  color:#040202;
  text-decoration: none;
}

.my-btn a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
 }

.my-btn:hover {
  background-color:  #F1E08D;
}



/* __________________________________________________________________ */

/********************************
*********************************

    RESPONSIVE

*********************************
*********************************/
 
 /* smartphone */
  @media screen and (max-width:480px) {

  .txt-container {
    width: 100%;
  }

  h1 {
    font-size: 3rem;
  }

  .white-txt {
    font-size: 0.9rem;
    padding: 0 10px;
  }

  .container {
    width: 70%;
  }

  }