/*************************************************
    GENERAL RULES CSS
 *************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
  /* font-family: ;*/
  font-size: 20px;
  color: rgb(184, 151, 48);
}


/********************************
    MAIN
 ********************************/
/* go back btn */
 .go-back {
    padding: 20px;
 }


 .go-back a {
    color:rgb(184, 151, 48);
    text-decoration: none;
    font-size: 16px;
    font-family: "Ovo", serif;
 }

  .go-back a:hover {
    color:white;
    text-decoration: none;
 }

 /* background img */
.bk-gr-img-container {
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(
      rgba(0,0,0,0.4), 
      rgba(255,255,255,0.2)),
     linear-gradient(
      to top, 
      rgba(0,0,0,0) 60%, 
      rgba(0,0,0) 100%),
    linear-gradient(
      to bottom, 
      rgba(0,0,0,0) 60%, 
      rgba(0,0,0) 100%),
    url(../img/x.jpg);
  background-size: cover;
  background-position: center;
}

.menu-container {
    margin: 0 auto;
    /* debug */
    width: 80%;
    background-color:rgba(4, 2, 2, 0.8);
}


/* TITLE */
.title {
    /* debug */
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

 /* logo */
.title img {
  width: 80px;
  cursor: default;
}

h1 {
    font-size: 100px;
    letter-spacing: 10px;
}

/* DISHES */
.section {
    width: 100%;
    margin-top: 180px;
    display: flex;
    letter-spacing: 2px;
}

#last-menu-section {
padding-bottom: 100px;
}

.dish-type {
    width: 50%;
    text-align: right;
    padding-right: 90px;
    font-size: 50px;
}

.dishes {
    width: 50%;
    text-align: left;
    padding-right: 50px;
    padding-left: 90px;
    font-family: "Ovo", serif;
}

.dishes span {
  color: white;
}

#main-dishes {
    text-align: right;
    padding-left: 50px;
}

#main-title {
    text-align: left;
    padding-left: 90px;
}

ul {
  list-style: none;
  line-height: 24px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}


 /***************
 DINE WITH US (BOOK TABLE SECTION)
 ****************/
.dine-w-us-section {
  /* debug */
  height: 400px;
  background-repeat: no-repeat;
  background-size: 50% auto;
  display: flex;
  align-items: center;
  background-color: #040202;
}

.txt-dine-w-us-section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 16px;
}

.contact-item a {
   display: flex;
}

.contact-item i:hover {
  background-color: white;
}

.contact-item i {
  font-size: 18px;
  border: 1px solid rgb(184, 151, 48);
  border-radius: 50px;
  color: rgb(184, 151, 48);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.contact-item span {
  color: white;
}

/* __ */
h3 {
  font-family: "Ovo", serif;
  font-size: 48px;
  color: #F1E08D;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(184, 151, 48);
  font-family: "Ovo", serif;
 }

 /* __ */
 
/* BUTTONS */
.btn {
  border: 1px solid rgb(184, 151, 48);
  padding: 6px 14px;
  border-radius: 50px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  width: 140px;
}

.btn:hover {
  background-color: rgb(184, 151, 48);
  color: #040202;
}


#btn-dine-w-us {
  background-color: #FAD97C;
  color: #040202;
}

#btn-dine-w-us:hover {
  background-color: white;
  color: rgb(184, 151, 48);
}

/* __________________________________________________________________ */

/********************************
*********************************

    RESPONSIVE

*********************************
*********************************/

/* tablet */
 @media screen and (max-width:768px) {

  .section {
    flex-direction: column;
    justify-content: center;
    margin-top: 90px;
  }

  .dish-type {
    width: 100%;
    text-align: center;
    padding: 0;
}

  .dishes {
    width: 100%;
    padding: 0 40px;
  }

  #section-main-dishes {
    flex-direction: column-reverse;
  }

  #main-title {
    text-align: center;
  }

  #main-dishes {
    text-align: left;
  }

  h3 {
    padding: 0 30px;
  }

.contact-info {
  width: 100%;
  justify-content: space-around;
 }

}

 /* smartphone */
  @media screen and (max-width:480px) {


  .title {
    width: 100%;
  }

  h1 {
    font-size: 4rem;
  }

  .dish-type {
    font-size: 2rem;
   } 

  .dishes {
    font-size: 0.6rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  .contact-info {
    padding: 0 10px;
    font-size: 0.7rem;
  }

  }