/*************************************************
    GENERAL RULES CSS
 *************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
  /* font-family: ;*/
  font-size: 12px;
}

/**********************
    font
 **********************/

/* .corinthia-regular {
  font-family: "Corinthia", cursive;
  font-weight: 400;
  font-style: normal;
}

.corinthia-bold {
  font-family: "Corinthia", cursive;
  font-weight: 700;
  font-style: normal;
} */


/* .montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* .ovo-regular {
  font-family: "Ovo", serif;
  font-weight: 400;
  font-style: normal;
} */

h1 {
  font-family: "Ovo", serif;
  font-size: 60px;
}

.payoff {
  font-family: "Corinthia", cursive;
  font-size: 20px;
  margin-top: 8px;
} 

a {
  text-decoration: none;
  color: #F1E08D;
  font-family: "Ovo", serif;
 }


/* BUTTONS */
.btn {

}



/*************************************************
    HEADER
 *************************************************/
header {
    margin: 0 auto;
    height: 70px;
    background-color: #171717;
    color: #F1E08D;
    font-family: "Ovo", serif;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

  /* NAVBAR */

  .nav-container {
    margin: 0 auto;
    width: 80%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

 .nav-container ul {
  display: flex;
  list-style: none;
  gap: 60px;
 }


/*************************************************
    MAIN
 *************************************************/
.page-elements-container {
  width: 70%;

  /* debug */
  height: 300px;
}
 /* HERO SECTION */
.hero-section {
  /* debug */
  height: 700px;
  background-image: url(../img/B-hero.jpg);
  background-size: cover;
  background-position: center;

  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.restaurant-name-and-payoff {
  /* debug */
  height: 100px;
  background-color: cornflowerblue;
  
  margin-bottom: 100px;
  
}

.working-hours {
  /* debug */
  height: 100px;
  background-color: rgb(151, 112, 235);
}

 /* MENU SECTION */



 /* DINE WITH US (BOOK TABLE SECTION) */





 /*************************************************
    FOOTER
 *************************************************/

